<main>
  <div style="flex: 0 0 0;">
    <h2 >Loading route addon (DEMO)</h2>
    <nav>
      <strong>Menu (First level): </strong>
      {{#link-to "user-l2.dashboard-l3"}} User application | {{/link-to}}
      {{#link-to "admin-l2.index"}} Admin application {{/link-to}}
    </nav>
  </div>
  {{outlet}}
</main>
